.text {
	-fx-font-smoothing-type: lcd;
}

.text-field {
	-fx-border-style: none;
	-fx-border-color: white;
	-fx-font-family: "Microsoft YaHei UI Light", "Segoe UI Light", Helvetica, Verdana, sans-serif;
	-fx-font-size: 20pt;
}

.text-field:focused {
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

#app-header {
	-fx-background-color: black;
	-fx-font-family: "Microsoft YaHei UI Light", "Segoe UI Light", Helvetica, Verdana, sans-serif;
	-fx-font-size: 24pt;
	-fx-text-fill: white;
	-fx-text-alignment: center;
	-fx-padding: 10;
}

.vbox {
    -fx-alignment: center;
    -fx-background-color: black;
    -fx-padding: 10 4 10 4;
    -fx-spacing: 4;
}

#login-button {
    -fx-font-size: 20pt;
}
/* 
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 1;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Microsoft YaHei UI Light", "Segoe UI Light", Helvetica, Verdana, sans-serif;
    -fx-font-size: 14pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
	-fx-background-color: white;
	-fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}